
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <a href="/Auth/ExternalLogin?providerName=Google">Google ile Oturum Aç</a>
    <a href="/Auth/ExternalLogin?providerName=Facebook">Facebook ile Oturum Aç</a>


    <a href="/Auth/ExternalLogOut">Oturumu Kapat</a>

</body>
</html>
